
.navbar {
  overflow: hidden;
  background-color: rgb(199, 232, 252);
}

.navbar a {
  float: left;
  font-size: 29px;
  color: #001c8a;
  text-align: center;
  padding: 30px 28px;
  text-decoration: none;
}

body {
        color:black;
        font-family: Raleway,Thonburi;
        background-image:linear-gradient(lightskyblue,white,rgb(220, 244, 247));
        background-attachment: fixed;
        background-position:center;
        background-repeat: no-repeat;



h2, h1,h3,h4,h5 {
        color: black;
        font-family: Texturina,Superclarendon; 
        font-size:59px;
p1{
  color: black;
        font-family: Texturina,Superclarendon; 
        font-size:59px;
}


